<div class="wrapper">
  <div class="side-bar-box">
    <div class="row-box" *ngFor="let value of sideBarArray; trackBy trackSideBar">
      <img [src]="value.iconImg" [alt]="linkName" class="icon-img">
      <p (click)="onClick(value)">{{value.name}}</p>
    </div>
  </div>
  <app-side-bar-details
    [childData]="infoToChild"
    [name]="'beka'"
    (product)="catchData($event)"
  ></app-side-bar-details>
</div>
<h4>Does user wants to but? - {{infoFromChild?.name}}</h4>
<ng-template #otherDiv>
  <p>Else-ის შემთხვევა</p>
  <p>{{otherName}}</p>
</ng-template>


<div class="wrapper" *ngIf="showDiv; else otherDiv">
  <h2 class="default" [ngClass]="{
    'active' : randomNumber > 50,
    'non-active': randomNumber < 40
  }">{{myName}}</h2>
  <p [ngStyle]="{'background-color':returnStyle()}">{{randomNumber}}</p>
</div>

<button (click)="toggleMenu()">Toggle</button>

<!-- <div class="number-container">
  <p 
    *ngFor="let number of numbers; 
    let i=index; trackBy trackId" 
    (click)="showPara(i)"
    [ngClass]="{'active': activeClass === i}"
    >my number is - {{number}}</p>
</div> -->


<input type="text" [(ngModel)]="userText">
<p>{{userText}}</p>