<div class="page-container" >
  <ul >
    <li>
      <a 
        routerLink="" 
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}"
        >მთავარი გვერდი</a>
    </li>
    <li>
      <a routerLink="users" routerLinkActive="active-link">მომხმარებლები</a>
    </li>
    <li>
      <a (click)="navigateToAboutUs()" routerLinkActive="active-link">ჩვენს შესახებ</a>
    </li>
    <li>
      <a routerLink="contact" routerLinkActive="active-link">კონტაქტი</a>
    </li>
    <li>
      <a routerLink="template-form" routerLinkActive="active-link">Template Form</a>
    </li>
    <li>
      <a routerLink="reactive-form" routerLinkActive="active-link">Reactive Form</a>
    </li>
  </ul>
</div>
