<p>about-us works!</p>
<button (click)="showNumber()">Show Number</button>
<div class="section">
  Section 1
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quo explicabo
    ipsum totam et sapiente, deleniti quas, velit doloremque sit nisi nemo earum
    eius vel molestias dolores ad temporibus quos adipisci illo, sint soluta
    accusamus distinctio nihil. Delectus, nulla officiis.
  </p>
</div>
<div class="section">
  Section 2
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad fugiat iusto
    nobis neque iure quo asperiores libero, in unde numquam iste officia autem
    tempora minus nihil molestiae eius earum minima.
  </p>
</div>
<div class="section">
  Section 3
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
    voluptates autem. Amet quos eveniet magnam illum consequuntur obcaecati
    aspernatur necessitatibus, hic distinctio quisquam, quasi facilis labore,
    aliquid asperiores suscipit sed dolores dolor quibusdam quae animi accusamus
    eum ratione! Quibusdam perferendis amet ullam magni, modi expedita
    voluptatum pariatur soluta quaerat sed.
  </p>
</div>
<div id="section4" class="section" #myDiv>
  Section 4
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo at consequuntur
    sit. Esse sint non sunt quaerat et dignissimos quasi quas illo nam nulla
    placeat reprehenderit quod, cumque aperiam atque sequi eligendi blanditiis
    quam suscipit, numquam excepturi perspiciatis voluptatem asperiores. Maiores
    quia nisi explicabo id! Quo provident eveniet veritatis dolores nam! Est
    velit reiciendis facilis distinctio, illum voluptatibus minus? Autem!
  </p>
</div>
