<p>main works!</p>
<div class="wrapper">
    <button (click)="onLogin()">Login</button>
    <button class="logout" (click)="onLogout()">Logout</button>
</div>
<button (click)="increaseNumber()">Increase</button>
<button (click)="decreaseNumber()">Descrease</button>
<br>
<br>
<br>
<button style="display: inline-block; margin-right: 20px;" (click)="emitData()">Emit Data</button>
<button (click)="getData()">Get Data</button>
<br>
<br>
<div class="random-number" style="padding:20px">
    <p *ngFor="let num of randomArr">Random Names: {{num.name}}</p>
</div>